<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
    <style type="text/css" th:inline="css">
        p {
            color: /*[[${color}]]*/ red;
            font-size: [(${fontSize})];
        }
    </style>

    <script th:inline="javascript">
        var name ='hello,'+ [[${userName}]] ;
        alert(name);
    </script>

</head>
<body>
<h1>Thymeleaf模板引擎</h1>
<div>
    <h1>内联</h1>
    <div th:inline="text" >
        <p>Hello, [[${userName}]] !</p>
        <br/>
    </div>
</div>
</body>
</html>
